html, body {
    /*margin: 40px;*/
    font-family: sans-serif;
    height: 100%
}
.container {
    display: grid;
    width: 100%;
    height: 55%;
    background-image: url("https://st1.zoom.us/static/90325/image/new/home/DefaultLandingBgImg.jpg");
    background-size: cover;
    place-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin-right: 350px;
    margin-left: 350px;
}

.column{
    display: flex;

}

a {
    text-decoration: none;
    color: #006ab2;
}

a:hover {
    text-decoration: none;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}

h2{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-left: 25px;
    text-transform: uppercase;
}

h3{
padding-left:25px;
}

.button {
    width: 250px;
    height: 150px;
    background-color: #006EB6;
    border-color: #006EB6;
    padding: 12px 20px;
    display: grid;
    text-align: center;
    margin: 40px 0;
    transition: .3s ease;
    justify-content: center;
    align-items: end;
    align-content: space-evenly;
    justify-items: center;
}

.button:hover {
    background-color: #006ab2;  /*customize button color */
}

.btn-text {
    color: white;   /*customize button font color */
    font-size: 20px;
}

.made-with {
    padding-top: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 27px;

}

.row {
    margin-bottom: 15px;
}

.row > div {
    display: block;
}

.footer {
    padding-bottom: 15px;
    height: 40px;
}

.footer a {
    display: block;
    width: 100%;
    height: inherit;
    padding-left: 0;
    padding-right: 0;
}

.content {
    margin: auto;
}

.content > div, .made-with {
    text-align: center;
}



ul {
    list-style: none;
}


header {
    background-color: #006EB6;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
 

.small_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 450px;
    margin-left: 450px;
    margin-bottom: 50px;
}

.black-text {
    color: black;   /*customize button font color */
    font-size: 30px;
    text-decoration: underline ;
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.footer-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-list-item {
    margin-right: 2px; /* Adjust margin as needed */
}

header a {
    text-decoration: none;
    color: #fff;
    margin-left: 100px;

}

footer a {
    text-decoration: none;
    color: #fff;

}


element.style {
    background-color: rgb(0, 110, 182);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    animation-duration: 3s;
    animation-iteration-count: 1;
    opacity: 1;
}


/* Add a media query for smaller screens */
@media only screen and (max-width: 700px) {
    .buttons {
        margin-right: 10px;
        margin-left: 10px;
        display: grid;
        gap: 0px;
    }

    .small_buttons{
        margin-right: 10px;
        margin-left: 10px;
        display: grid;
        gap: 10px;  
        padding-top: 40px;
    }

    .button{
        margin-bottom: 0px;
        
    }

    footer {
        gap: 10px;
        display: grid;
        font-size: x-small;
    }

    .zoom-logo{
        width: 200px;
        height: 50px;
    }

    header a {
        margin-left: 40px;
    }
}